[Unit]
Description=Run outback cleanup hourly

[Timer]
OnBootSec=15m
OnUnitActiveSec=1h
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
